<!--Header-->
<div class="content content__inner content__inner--with-background">
  <div class="container">
      <div class="d-flex row">
          <div class="col-md-10 col-12 order-md-2">
              <h5>SALES ADMIN</h5>
              <div class="row">
                  <div class="col-md-6">
                      <div class="sales-panel on-break">
                          <div class="navicon">
                              <img src="assets/images/common/nav-icon.jpg" alt="navicon">
                          </div>
                          <div class="row">
                              <div class="sales-panel__image col-3">
                                  <img src="assets/images/content/staff/staff.png" alt="Staff">
                              </div>
                              <div class="sales-panel__content col-9">
                                  <p class="name"><strong>June Marbahy</strong> (junek)</p>
                                  <p class="position">Executive Services Specialist</p>
                                  <p class="details details__department"><i class="fas fa-user-friends"></i> Sales Admin</p>
                                  <p class="details details__time"><i class="far fa-clock"></i> (AEST): 9:30am - 5:30pm</p>
                                  <p class="details details__location"><i class="fas fa-building"></i> AP, 20 Bothe Pl, Haddon</p>
                                  <p class="details details__status"><i class="fas fa-user-clock"></i> On break</p>
                              </div>
                          </div>

                          <div class="home-icon">
                              <img src="assets/images/common/home-icon.png" alt="home-icon">
                          </div>
                      </div>
                  </div>

                  <div class="col-md-6">
                      <div class="sales-panel on-break">
                          <div class="navicon">
                              <img src="assets/images/common/nav-icon.jpg" alt="navicon">
                          </div>
                          <div class="row">
                              <div class="sales-panel__image col-3">
                                  <img src="assets/images/content/staff/staff.png" alt="Staff">
                              </div>
                              <div class="sales-panel__content col-9">
                                  <p class="name"><strong>Angel Gutonr</strong> (angelg)</p>
                                  <p class="position">Executive Services Specialist</p>
                                  <p class="details details__department"><i class="fas fa-user-friends"></i> Sales Admin</p>
                                  <p class="details details__time"><i class="far fa-clock"></i> (AEST): 5:30pm - 11:30pm</p>
                                  <p class="details details__location"><i class="fas fa-building"></i> AP, 20 Bothe Pl, Haddon</p>
                                  <p class="details details__status"><i class="fas fa-user-clock"></i> On break</p>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-6">
                      <div class="sales-panel active">
                          <div class="navicon">
                              <img src="assets/images/common/nav-icon.jpg" alt="navicon">
                          </div>
                          <div class="row">
                              <div class="sales-panel__image col-3">
                                  <img src="assets/images/content/staff/staff.png" alt="Staff">
                              </div>
                              <div class="sales-panel__content col-9">
                                  <p class="name"><strong>Angel Gutonr</strong> (angelg)</p>
                                  <p class="position">Executive Services Specialist</p>
                                  <p class="details details__department"><i class="fas fa-user-friends"></i> Sales Admin</p>
                                  <p class="details details__time"><i class="far fa-clock"></i> (AEST): 5:30pm - 11:30pm</p>
                                  <p class="details details__location"><i class="fas fa-building"></i> AP, 20 Bothe Pl, Haddon</p>
                                  <p class="details details__status"><i class="fas fa-user-clock"></i> Working on CEO Presentatio....</p>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-6">
                      <div class="sales-panel active">
                          <div class="navicon">
                              <img src="assets/images/common/nav-icon.jpg" alt="navicon">
                          </div>
                          <div class="row">
                              <div class="sales-panel__image col-3">
                                  <img src="assets/images/content/staff/staff.png" alt="Staff">
                              </div>
                              <div class="sales-panel__content col-9">
                                  <p class="name"><strong>Angel Gutonr</strong> (angelg)</p>
                                  <p class="position">Executive Services Specialist</p>
                                  <p class="details details__department"><i class="fas fa-user-friends"></i> Sales Admin</p>
                                  <p class="details details__time"><i class="far fa-clock"></i> (AEST): 5:30pm - 11:30pm</p>
                                  <p class="details details__location"><i class="fas fa-building"></i> AP, 20 Bothe Pl, Haddon</p>
                                  <p class="details details__status"><i class="fas fa-user-clock"></i> Contacting appointments and...</p>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-6">
                      <div class="sales-panel inactive">
                          <div class="navicon">
                              <img src="assets/images/common/nav-icon.jpg" alt="navicon">
                          </div>
                          <div class="row">
                              <div class="sales-panel__image col-3">
                                  <img src="assets/images/content/staff/staff.png" alt="Staff">
                              </div>
                              <div class="sales-panel__content col-9">
                                  <p class="name"><strong>Angel Gutonr</strong> (angelg)</p>
                                  <p class="position">Executive Services Specialist</p>
                                  <p class="details details__department"><i class="fas fa-user-friends"></i> Sales Admin</p>
                                  <p class="details details__time"><i class="far fa-clock"></i> (AEST): 5:30pm - 11:30pm</p>
                                  <p class="details details__location"><i class="fas fa-building"></i> AP, 20 Bothe Pl, Haddon</p>
                                  <p class="details details__status"><i class="fas fa-user-clock"></i> Absent</p>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-6">
                      <div class="sales-panel active">
                          <div class="navicon">
                              <img src="assets/images/common/nav-icon.jpg" alt="navicon">
                          </div>
                          <div class="row">
                              <div class="sales-panel__image col-3">
                                  <img src="assets/images/content/staff/staff.png" alt="Staff">
                              </div>
                              <div class="sales-panel__content col-9">
                                  <p class="name"><strong>Angel Gutonr</strong> (angelg)</p>
                                  <p class="position">Executive Services Specialist</p>
                                  <p class="details details__department"><i class="fas fa-user-friends"></i> Sales Admin</p>
                                  <p class="details details__time"><i class="far fa-clock"></i> (AEST): 5:30pm - 11:30pm</p>
                                  <p class="details details__location"><i class="fas fa-building"></i> AP, 20 Bothe Pl, Haddon</p>
                                  <p class="details details__status"><i class="fas fa-user-clock"></i> Contacting prospects.</p>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="sidebar col-md-2 col-12 order-md-1">

          </div>
      </div>
  </div>
</div>
