<!--Header-->
<div class="content content__inner">
  <div class="container">
      <div class="d-flex row">
          <div class="col-md-10 col-12 order-md-2">
              <table class="table team-table">
                  <thead>
                      <tr>
                          <th scope="col"></th>
                          <th scope="col">App</th>
                          <th scope="col">Description</th>
                          <th scope="col">Assignments</th>
                          <th scope="col">Usage</th>
                          <th scope="col"></th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr>
                          <td scope="col" class="align-middle"><img src="assets/images/common/application-library/core-logic.jpg" alt="Core Logic"></td>
                          <td scope="col" class="align-middle"><span>Core Logic</span>Web App</td>
                          <td scope="col" class="align-middle">Property data and research</td>
                          <td scope="col" class="align-middle">Collections, Inspections and three others.</td>
                          <td scope="col" class="align-middle">2,107 Clicks</td>
                          <td scope="col" class="text-center align-middle"><span class="arrow down"></span><img src="assets/images/common/nav-icon.jpg" alt="humberger"></td>
                      </tr>
                      <tr>
                          <td scope="col" class="align-middle"><img src="assets/images/common/application-library/inhabit.jpg" alt="inhabit"></td>
                          <td scope="col" class="align-middle"><span>Core Logic</span>Web App</td>
                          <td scope="col" class="align-middle">Property data and research</td>
                          <td scope="col" class="align-middle">Collections, Inspections and three others.</td>
                          <td scope="col" class="align-middle">2,107 Clicks</td>
                          <td scope="col" class="text-center align-middle"><span class="arrow down"></span><img src="assets/images/common/nav-icon.jpg" alt="humberger"></td>
                      </tr>
                      <tr>
                          <td scope="col" class="align-middle"><img src="assets/images/common/application-library/property-value.jpg" alt="Property Value"></td>
                          <td scope="col" class="align-middle"><span>Core Logic</span>Web App</td>
                          <td scope="col" class="align-middle">Property data and research</td>
                          <td scope="col" class="align-middle">Collections, Inspections and three others.</td>
                          <td scope="col" class="align-middle">2,107 Clicks</td>
                          <td scope="col" class="text-center align-middle"><span class="arrow down"></span><img src="assets/images/common/nav-icon.jpg" alt="humberger"></td>
                      </tr>
                      <tr>
                          <td scope="col" class="align-middle"><img src="assets/images/common/application-library/property-iq.jpg" alt="Property IQ"></td>
                          <td scope="col" class="align-middle"><span>Core Logic</span>Web App</td>
                          <td scope="col" class="align-middle">Property data and research</td>
                          <td scope="col" class="align-middle">Collections, Inspections and three others.</td>
                          <td scope="col" class="align-middle">2,107 Clicks</td>
                          <td scope="col" class="text-center align-middle"><span class="arrow down"></span><img src="assets/images/common/nav-icon.jpg" alt="humberger"></td>
                      </tr>
                      <tr>
                          <td scope="col" class="align-middle"><img src="assets/images/common/application-library/deft.jpg" alt="Deft"></td>
                          <td scope="col" class="align-middle"><span>Core Logic</span>Web App</td>
                          <td scope="col" class="align-middle">Property data and research</td>
                          <td scope="col" class="align-middle">Collections, Inspections and three others.</td>
                          <td scope="col" class="align-middle">2,107 Clicks</td>
                          <td scope="col" class="text-center align-middle"><span class="arrow down"></span><img src="assets/images/common/nav-icon.jpg" alt="humberger"></td>
                      </tr>
                      <tr>
                          <td scope="col" class="align-middle"><img src="assets/images/common/application-library/my-staff.jpg" alt="My Staff"></td>
                          <td scope="col" class="align-middle"><span>Core Logic</span>Web App</td>
                          <td scope="col" class="align-middle">Property data and research</td>
                          <td scope="col" class="align-middle">Collections, Inspections and three others.</td>
                          <td scope="col" class="align-middle">2,107 Clicks</td>
                          <td scope="col" class="text-center align-middle"><span class="arrow down"></span><img src="assets/images/common/nav-icon.jpg" alt="humberger"></td>
                      </tr>
                  </tbody>
              </table>
          </div>
          <div class="sidebar col-md-2 col-12 order-md-1">

          </div>
      </div>
  </div>
</div>
