<app-header></app-header>

<div class="content content__inner">
  <div class="container">
      <div class="d-flex row">
          <div class="col-md-10 col-12 order-md-2">
              <h2>Research team</h2>
              <table class="table team-table">
                  <thead>
                      <tr>
                          <th scope="col"><span class="status"></span></th>
                          <th scope="col">Name</th>
                          <th scope="col">Role</th>
                          <th scope="col">Team</th>
                          <th scope="col">Activity</th>
                          <th scope="col" class="text-center">Rating</th>
                          <th scope="col" class="text-right">Dreampoints</th>
                          <th scope="col" class="text-right">Tenure</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr>
                          <td scope="col"><span class="status active"></span></td>
                          <td scope="col">June Marbahy</td>
                          <td scope="col">Marketing Specialist 1</td>
                          <td scope="col">Marketing</td>
                          <td scope="col">Blog articles</td>
                          <td scope="col" class="text-center">4</td>
                          <td scope="col" class="text-right">32,223</td>
                          <td scope="col" class="text-right">2 years</td>
                      </tr>
                      <tr>
                          <td scope="col"><span class="status active"></span></td>
                          <td scope="col">John Biegey</td>
                          <td scope="col">SEO Specialist</td>
                          <td scope="col">Marketing</td>
                          <td scope="col">Site Keywords</td>
                          <td scope="col" class="text-center">5</td>
                          <td scope="col" class="text-right">12,233</td>
                          <td scope="col" class="text-right">5 years</td>
                      </tr>
                      <tr>
                          <td scope="col"><span class="status active"></span></td>
                          <td scope="col">Janet Bayou</td>
                          <td scope="col">Designer</td>
                          <td scope="col">Creative</td>
                          <td scope="col">Advertising</td>
                          <td scope="col" class="text-center">4</td>
                          <td scope="col" class="text-right">1,223</td>
                          <td scope="col" class="text-right">2 years</td>
                      </tr>
                      <tr>
                          <td scope="col"><span class="status inactive"></span></td>
                          <td scope="col">John Deluna</td>
                          <td scope="col">Designer</td>
                          <td scope="col">Creative</td>
                          <td scope="col">Absent</td>
                          <td scope="col" class="text-center">4</td>
                          <td scope="col" class="text-right">22,253</td>
                          <td scope="col" class="text-right">1 years</td>
                      </tr>
                      <tr>
                          <td scope="col"><span class="status active"></span></td>
                          <td scope="col">Jo Mahuay</td>
                          <td scope="col">Accountant</td>
                          <td scope="col">Finance</td>
                          <td scope="col">EOY</td>
                          <td scope="col" class="text-center">5</td>
                          <td scope="col" class="text-right">243,342</td>
                          <td scope="col" class="text-right">3 years</td>
                      </tr>
                      <tr>
                          <td scope="col"><span class="status active"></span></td>
                          <td scope="col">Ida Wanhay</td>
                          <td scope="col">Accountant Lead</td>
                          <td scope="col">Finance</td>
                          <td scope="col">EOY</td>
                          <td scope="col" class="text-center">5</td>
                          <td scope="col" class="text-right">1,243,342</td>
                          <td scope="col" class="text-right">6 years</td>
                      </tr>
                  </tbody>
              </table>
          </div>
          <div class="sidebar col-md-2 col-12 order-md-1">
              <app-sidebar></app-sidebar>
          </div>
      </div>
  </div>
</div>
<app-inner-footer></app-inner-footer>
