<h4>APP ASSIGNMENTS</h4>
<ul class="list-checkbox">
  <li>
    <label class="checkbox">
      <input type="checkbox" id="checkbox" />
      <span class="check-text">Everyone</span>
      <span class="checkmark"></span>
    </label>
  <li>
  <li>
    <label class="checkbox">
      <input type="checkbox" id="checkbox" />
      <span class="check-text">Managers</span>
      <span class="checkmark"></span>
    </label>
  <li>
  <li>
    <label class="checkbox">
      <input type="checkbox" id="checkbox" />
      <span class="check-text">Team Leads</span>
      <span class="checkmark"></span>
    </label>
  <li>
  <li>
    <label class="checkbox">
      <input type="checkbox" id="checkbox" />
      <span class="check-text">Sales</span>
      <span class="checkmark"></span>
    </label>
  <li>
  <li>
    <label class="checkbox">
      <input type="checkbox" id="checkbox" />
      <span class="check-text">Sales Admin</span>
      <span class="checkmark"></span>
    </label>
  <li>
  <li>
    <label class="checkbox">
      <input type="checkbox" id="checkbox" />
      <span class="check-text">Collections</span>
      <span class="checkmark"></span>
    </label>
  <li>
  <li>
    <label class="checkbox">
      <input type="checkbox" id="checkbox" />
      <span class="check-text">Applications & Leases</span>
      <span class="checkmark"></span>
    </label>
  <li>
  <li>
    <label class="checkbox"> <span class="check-text">Lease Renewals</span>
      <input type="checkbox" id="checkbox" />
      <span class="checkmark"></span>
    </label>
  <li>
  <li>
    <label class="checkbox"> <span class="check-text">Repairs & Maintenace</span>
      <input type="checkbox" id="checkbox" />
      <span class="checkmark"></span>
    </label>
  <li>
  <li>
    <label class="checkbox"> <span class="check-text">Inspections</span>
      <input type="checkbox" id="checkbox" />
      <span class="checkmark"></span>
    </label>
  <li>
  <li>
    <label class="checkbox"> <span class="check-text">Marketing & Creative</span>
      <input type="checkbox" id="checkbox" />
      <span class="checkmark"></span>
    </label>
  <li>
  <li>
    <label class="checkbox"> <span class="check-text">Finance</span>
      <input type="checkbox" id="checkbox" />
      <span class="checkmark"></span>
    </label>
  <li>
</ul>
<h4>MANAGE</h4>
<ul>
  <li>App Categories</li>
  <li>Add new app</li>
</ul>
