.arrow {
  position: relative;
  top: -4px;
  border: solid black;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 3px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.up {
  transform: rotate(225deg);
  -webkit-transform: rotate(225deg);
  top: 0;
}
.today{
  &__headers{
      &--count{
          background: #FFF;
          height: 100%;
          box-sizing: border-box;
          padding: 20px 15px;
          font-weight: 700;
          span{
              display: block;
              font-size: 60px;
              font-weight: 400;
              line-height: 1;
          }
      }
  }
  &__content{
      &--panel{
          position: relative;
          background: #FFF;
          box-sizing: border-box;
          .icons{
              position: absolute;
              top: 30px;
              right: 25px;
          }
      }
  }
}
@media screen and (min-width: 768px) {
  .today{
      &__content{
          .col-md-8{
              -webkit-box-flex: 0;
              -ms-flex: 0 0 60%;
              flex: 0 0 60%;
              max-width: 60%;
          }
          .col-md-4 {
              -webkit-box-flex: 0;
              -ms-flex: 0 0 40%;
              flex: 0 0 40%;
              max-width: 40%;
          }
      }
  }
}
.sidebar{
  h4{
      font-size: 15px;
      font-weight: 700;
      &:not(:first-of-type){
          margin-top: 60px;
      }
  }
  ul{
      list-style: none;
      padding: 0;
      li{
          line-height: 180%;
          font-size: 15px;
          color: #414141;
          margin: 10px 0;
      }
  }
  ul.list-checkbox {
      li{
          margin: 20px 0;
      }
      .checkbox {
          display: block;
          position: relative;
          padding-left: 35px;
          margin-bottom: 12px;
          cursor: pointer;
          font-size: 15px;
          line-height: 1.2;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;

          input {
              position: absolute;
              opacity: 0;
              cursor: pointer;
              height: 0;
              width: 0;
          }
      }

      .checkmark {
          position: absolute;
          top: 0;
          left: 0;
          height: 20px;
          width: 20px;
          background-color: #FFF;
          border: 1px solid #000;
          border-radius: 15px;
      }

      .checkbox {
          &:hover input~.checkmark {
              background-color: #ccc;
          }

          input:checked~.checkmark {
              background-color: #FFFFFF;
          }
          input:checked~.check-text {
              font-weight: 700;
          }
      }

      .checkmark:after {
          content: "";
          position: absolute;
          display: none;
      }

      .checkbox {
          input:checked~.checkmark:after {
              display: block;
          }

          .checkmark:after {
              left: 6px;
              top: 2px;
              width: 6px;
              height: 12px;
              border: solid #000;
              border-width: 0 3px 3px 0;
              -webkit-transform: rotate(45deg);
              -ms-transform: rotate(45deg);
              transform: rotate(45deg);
          }
      }
  }
}

.content{
  padding: 30px 0 200px;
  .container{
      max-width: 970px;
      &__panel{
          box-sizing: border-box;
          padding: 20px 15px;
          background: #FFF;
          border-radius: 10px;
      }
  }
  h5{
      font-size: 13px;
      color: #808080;
      max-width: 128px;
      background: #FFF;
      position: relative;
  }
  &-items{
      border-top: 1px dotted #808080;
      margin: -15px auto 0;
      li{
          margin-top: 15px;
          padding: 30px 0px 30px;
          a{
              color: #000;
          }
      }
  }
  &__inner{
      padding: 30px 0 200px;
      &--with-background{
          background: #D7E1EA;
      }
      .container {
          max-width: 1440px;
      }
      h5 {
          position: relative;
          max-width: 100%;
          overflow: hidden;
          background: none;
          &::after {
              content: '';
              width: 90%;
              height: 3px;
              position: absolute;
              top: 50%;
              left: 115px;
              right: 0;
              transform: translateY(-50%);
              background: #808080;
          }
      }
  }
  .table{
      th{
          border: none;
          text-transform: uppercase;
      }
      td{
          font-size: 15px;
          .arrow {
              position: relative;
              top: 0px;
              border: solid black;
              border-width: 0 1px 1px 0;
              display: inline-block;
              padding: 6px;
              margin-right: 10px;
          }
      }
  }
    .activity-table {
       .status {
            height: 10px;
            width: 10px;
            background-color: #bbb;
            border-radius: 50%;
            display: inline-block;

        &.active {
            background-color: #9BC74E;
        }

        &.inactive {
            background-color: #BF191B;
        }
    }
  }
}
