<!----
<header id="inner-header" >
  <div class="container">
      <div class="row py-4">
          <div class="col-md-7 col-12">
              <h1>Staff Summary</h1>
              <nav class="navbar navbar-expand-lg">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                      <a class="nav-link" >Card View <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                      <a class="nav-link" routerLink="/app/staff-summary"> <span class="sr-only">(current)</span> Grid View</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" routerLink="/app/staff-summary/list">List View</a>
                    </li>
                   </ul>
                  </div>
              </nav>
          </div>
          <div class="col-md-5 col-12">
              <div class="col-12">
                  <div class="row">
                      <input class="form-control w-100 rounded-0 col-7" id="myInput" type="text" placeholder="Search Staff">
                      <span class="col-4"><button class="btn btn-primary btn-md">Add Staff</button></span>
                      <div class="humberger col-1">
                          <span></span>
                          <span></span>
                          <span></span>
                      </div>
                  </div>
              </div>
          </div>


      </div>
  </div>
</header> --->
<app-header></app-header>
<div class="content content__inner content__inner--with-background">
  <div class="container">
    <ul class="inner-tab">
      <li class="nav-item">
        <a routerLink="/staff-summary" routerLinkActive="active">Grid</a>
      </li>
      <li class="nav-item">
        <a routerLink="/staff-summary/list" routerLinkActive="active">List</a>
      </li>
    </ul>
    <div class="d-flex row">
      
      <div class="col-md-10 col-12 order-md-2">
        <router-outlet></router-outlet>
      </div>
      <div class="sidebar col-md-2 col-12 order-md-1">
        <app-sidebar></app-sidebar>
      </div>
    </div>
  </div>
</div>